{% extends 'base.html' %}
<!-- hit user storage for settings -->
{% block head %}
<script src="./static/js/surfboard.js" type="text/javascript"></script>
<script src="./static/cells/mock_user_storage.js" type="text/javascript"></script>
{% endblock head %}

{% block body %}

<div class="outer">
    {% if cells %}
        {% for cell_number in range(cells) %}
            <div class="wrap">
                <div class="cell" id="{{cell_number}}">
                    <div class="cell_controls">
                        <i class="surf-maximize fa fa-arrows"></i>
                        <i class="surf-refresh fa fa-refresh"></i><!-- onclick, add class fa-spin for a few seconds-->
                        <i class="surf-configure fa fa-cog"></i>
                        <i class="surf-remove fa fa-eject"></i>
                    </div><!--cell controls -->
                    <div id="{{cell_number}}_content" class="cell_content">
                        <img class="loading" src="./static/img/loading.gif">
                    </div>

                </div><!--cell -->
            </div>
        {% endfor %}
    {% endif %}
</div><!-- outer -->

{% endblock body %}