
/* RESET */

* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

/* CELLS */
.cell{
	font-family: "Andale Mono",  "Lucida Console", monospace;
	font-size:64px;
	color: #ddd;
	padding: 0px;
    text-align:center;
}

.cell img{
    height:100%;
    width: 100%;
}

.cell:first-child{
}

/* LAYOUT */
body{
	background-color:#f6f6f6;
}
.outer{
	width:100%;
	width:320px;
	margin: 0 auto;
	padding: 2px 0px;
}
.wrap{
	float:left;
}

.wrap{
	width:320px;
	padding: 2px 0px;
}

.cell{
	background-color:#eee;
	width:100%;
	height:360px;
}

@media (min-width: 320px) {
	.outer{
		margin: 0 auto;
	}
}
@media (min-width: 652px) {
	.outer{
		width:652px;
	}
	.outer, .wrap{
		padding-left: 2px;
		padding-right: 2px;
	}
}
@media (min-width: 976px) {
	.outer{
		width:976px;
	}
}

.cell-controls {
    padding: 0 .25em 0 0;
    z-index: 10; /* put controls on top*/
}

/* if a user hovers over cell, display the controls */
.cell:hover > .cell-controls{
    visibility: visible;
}