img.loading {
   /* margin: 50% 0 0 50%;*/
    height:25%;
    width:25%;
    margin-top:20%;
}

.cell_controls {
    font-size:.40em;
    text-align: right;
    background-color: #AAA;
    z-index: 10; /* put controls on top*/
    /* hide cell controls unless cell is hovered */
    visibility: hidden;
    opacity: 0.4;
}

/* if a user hovers over cell, display the controls */
.cell:hover + .cell_controls{
    background-color: #F00;
    visibility: visible;
}

.cell_controls i:hover {
    color:#FFF;
}
